body {
  height: auto;
}

  .quiz-container {
    padding: 20px;
    border-radius: 5px;
    color: white;
    height: auto;
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  
  
  #submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-btn:hover {
    background-color: #0056b3;
  }
  